# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Logs
logs/
*.log

# Output CSVs
*.csv

# Credentials / config
config/config.yaml
.env
# app/
data/
# Airflow
airflow.db
*.pid
*.history
default-values.yaml
airflow-gitsync
rendered-manifests.yaml
# frontend/
temp/
# .github/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform/