# Môi trường Python
__pycache__/
*.pyc
.venv/
venv/
env/
.pytest_cache/

# File môi trường !
.env
*.env

# Output CSVs
*.csv
.env
# app/
data/
# Airflow
airflow.db
*.pid
*.history
default-values.yaml
airflow-gitsync
rendered-manifests.yaml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Môi trường Node.js (nếu có trong frontend)
node_modules/
dist/
build/
.npm/

# File tạm và log
temp/
*.log
*.swp
airflow/logs/

# Các file của hệ điều hành và IDE
.DS_Store
.vscode/
.history/

.trigger*
*.pub
replacements.txt

kube-prometheus-stack/